[submodule "ThirdParties/spdlog"]
	path = ThirdParties/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "ThirdParties/glm"]
	path = ThirdParties/glm
	url = https://github.com/g-truc/glm.git
[submodule "ThirdParties/VkBootstrap"]
	path = ThirdParties/VkBootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git
[submodule "ThirdParties/VulkanMemoryAllocator"]
	path = ThirdParties/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "ThirdParties/enkiTS"]
	path = ThirdParties/enkiTS
	url = https://github.com/dougbinks/enkiTS.git
[submodule "ThirdParties/ImGui"]
	path = ThirdParties/ImGui
	url = https://github.com/DarkerMinecraft/imgui.git
	branch = docking
[submodule "ThirdParties/Slang"]
	path = ThirdParties/Slang
	url = https://github.com/shader-slang/slang.git
[submodule "ThirdParties/stb"]
	path = ThirdParties/stb
	url = https://github.com/nothings/stb.git
[submodule "ThirdParties/Entt"]
	path = ThirdParties/Entt
	url = https://github.com/skypjack/entt.git
